.menu{
    margin-left: 50%;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

li{
    list-style: none;
}

footer{
    background: #313131;
    color: #ffffff;
    padding: 30px 0;
}

.card-movie{
   height: 670px;
}

.card-movie img{
    height: 620px;
}

.img-signin{
   max-width: 200px;
   max-height: 300px;
   object-fit: contain;
   border-radius: 50%;
}

.main-signup, .main-signin, .main-user-data,
.main-user-tickets{
    height: 75% !important;
}
.main-admin-zone {
    min-height: 75% !important;
    position: relative !important;
}

.main-user-data {
    position: relative !important;
}


.sesiones{
   background: #eeeeee;
   padding: 20px;
   clear: both;
   margin: 20px 0 0px;
}

.sesiones a{
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    text-align: left;
    margin: 12px 0 0px;
    background: url("../../assets/ticket.png") no-repeat right 2px;
    padding: 0 0 6px;
    border-bottom: 3px solid #F39B33;
    color: #F39B33;
}

.datos{
    background: #eeeeee;
    margin-bottom: 1px;
}

.datos label{
    color: #fff;
    background: #999999;
    padding: 10px 20px 11px 20px;
    display: inline-block;
    margin: 0px 15px 0 0;
    width: 25%;
}

.h1-title{
    color: #f39b33!important;
    font-size: 30px!important;
    line-height: 32px!important;
    margin: 0px 0 30px!important;
    font-family: 'Lato',sans-serif!important;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sinopsis{
    margin: 30px 0 40px;
}

.sinopsis p {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px;
}

.h2-entradas{
   font-size: 30px;
   margin-top: 20px;
   margin-bottom: 10px;
}

.nav-color{
    background-color: rgb(243, 155, 51) !important;
}

.nav-item a{
    color: #333333 !important;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: normal;
}

.link-info{
    color: #0d6efd;
    text-decoration: underline;
}

.img-data{
   max-width: 300px;
   max-height: 400px;
   object-fit: contain;
   border-radius: 50%;
}

.row-img-data{
   max-width: 40% !important;
}

#newImg{
    margin-left: 150%;
}

.modal-delete {
    position:absolute;
    top: 25%;
    left: 30%;
    z-index: 9999;
    background: #c9c9c8;
    padding: 5%;
    border: 1px solid #7c7878;
    max-width: 500px;
}

.confirm-del{
     position: absolute !important;
     top: 33%;
     left: 40%;
     z-index: 9999;
     background: #c9c9c8;
     padding: 5%;
     border: 1px solid #7c7878;
}

.height-user-ticket{
    height: 50px;
}

.input-search-date{
   width: 200px !important;
}

fieldset{
    max-width: 400px !important;
}

.container-data-tickets{
    min-height: 300px !important;
}

.select-movie{
    max-width: 50% !important;
}

.table-screenings{
   min-height: 300px !important;
}

.select-hall-screening{
    width: 15% !important;
}

.span-desobediente{
    margin-left: 38% !important;
    margin-right: 50px;
}
